.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    font-size: 24px;
}

.modal .message, .modal .message.success {
    margin-bottom: 15px;
    color: var(--message-text-color);
    text-align: center;
    padding-top: 20px;
}

.modal .message a, .modal .message.success a {
    color: var(--link-color);
    text-decoration: none;
}

.modal .message.success {
    color: var(--success-color);
}

.modal .message.pending {
    color: var(--pending-color);
}

.modal .message.error {
    color: var(--error-color);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
    background-color: transparent;
    border: none;
}
