.generic-button {
    position: absolute;
    background-image: url(/button_enabled.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 66%;
}

.generic-button.disabled {
    background-image: url(/button_disabled.png);
    cursor: default;
}

.generic-button.with-label {
    justify-content: normal;
}

.generic-button.with-label.disabled {
    justify-content: normal;
    color: #d5d5d5;
}

.generic-button-label {
    font-size: 40px;
    text-align: center;
}

@media (min-width: 992px) {
    .generic-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 140px);
        min-width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
    }
}
