.generic-panel {
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

.generic-panel-title {
    font-size: clamp(24px, 10vh, 80px);
    color: #ffffff;
}

.generic-panel-subtitle {
    font-size: clamp(16px, 6vh, 60px);
    color: #ffffff;
}
