.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  font-size: 24px;
  border: 5px solid #f1d199;
  background: #5f382a;
  box-shadow: 0 4px 0 0 #2b1f2e;
}

.message a {
  color: #ee9f5e;
}

.message.pending a {
  color: rgba(241, 209, 153, 0.5);
}

.message {
  color: #f1d199;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.message.sub {
  font-size: 30px;
  margin-top: 10px;
}

.message.pending {
  color: rgba(241, 209, 153, 0.5);
}

.message.error {
  color: var(--error-color);
}

.close-button {
  position: absolute;
  top: -4px;
  right: 0;
  cursor: pointer;
  font-size: 40px;
  color: #f1d199;
  background-color: transparent;
  border: none;
}
