.generic-panel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signage-image {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(/signage-phone.png);
}

.generic-panel-title {
    position: fixed;
    z-index: 1;
    color: #F1D199;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: normal;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
    .signage-image {
        content: url(/signage.png);
    }

    .generic-panel-title {
        font-size: 80px;
        width: 20%;
        top: 40%;
        left: 50%;
    }
}

@media (min-width: 1800px) {
    .generic-panel-title {
        font-size: 90px;
        top: 35%;
    }
}
