.ribbon {
  position: fixed;
  top: 230px;
  left: -160px;
  background-color: #ffc107;
  color: #000000;
  padding: 10px 80px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  font-size: 40px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn-mint {
  z-index: 1;
  background-color: #ffc107;
  color: #000000;
  border: none;
  border-radius: 0.25rem;
  font-family: 'Jersey 10', sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.btn-mint:hover {
  background-color: #ff8c00;
}
